#include "c:\program files (x86)\national instruments\cvi2013\sdk\include\winver.h"

2 ICON "c:\\Users\\javier.gonzalez\\Desktop\\SN_Write_tool_src_v2.1340.00\\res\\SN_GUI.ico"

STRINGTABLE DISCARDABLE
BEGIN
  65535  "SN_STATION"
END

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS 0L
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "MediaTek\0"
            VALUE "FileVersion", "1.0\0"
            VALUE "InternalName", "SN Writer Tool\0"
            VALUE "LegalCopyright", "Copyright MediaTek, 2009\0"
            VALUE "OriginalFilename", "SN_STATION.exe\0"
            VALUE "ProductName", "SN Writer Tool\0"
            VALUE "ProductVersion", "1.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 0x4b0
    END
END

SN:STATION.uir UIRFileType "c:\\Users\\javier.gonzalez\\Desktop\\SN_Write_tool_src_v2.1340.00\\res\\SN_STATION.uir"